.page {
  // TODO: update height
  min-height: 100vh;
}


body{
  overflow: hidden;
}
.box{
  border: 3px solid black;
  height: 300px;
  width: 300px;
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;

  top: 0;
  left: 0;
  animation-name: anim;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes anim {
  0%{
      top: 0;
      left: 0;
      background-color: magenta;
  }
  25%{
      top: 0;
      left:84.5%;
      background-color: turquoise;
      border-radius: 0%;
  }50%{
      top:69%;
      left:84.5%;
      background-color: orange;
      border-radius: 50%;
  }75%{
      top: 69%;
      left: 0;
      background-color: lightblue;
      border-radius: 0%;
  }
  100%{
      top: 0;
      left: 0;
      background-color: magenta;
      border-radius: 50%;
  }
}